<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lifestyle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lifestyle.description %>
</p>

<%= link_to 'Edit', edit_lifestyle_path(@lifestyle) %> |
<%= link_to 'Back', lifestyles_path %>
