<nav id="site_nav">
  <ul  class="btn-group">
    <li><%= link_to 'Home', root_path, class: "btn btn-default"%></li>
    <li><%= link_to 'About', about_path, class: "btn btn-default" %></li>
    <li><%= link_to 'Contact', contact_path, class: "btn btn-default" %></li>
    <% if @cart %>
      <li>
        <%= link_to (cart_path), class: "btn btn-default" do %>
          Cart <span class="badge"><%= @cart.count %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
