<%= form_for @filterrific, :html => {class: 'search_form'} do |f| %>
  <div id="search_bar" class="input-group">
    <div class="input-group-btn">
      <%= f.select(
        :with_category_id,
        @filterrific.select_options[:with_category_id],
        {include_blank: 'All Categories'},
        class: 'filterrific-periodically-observed btn btn-primary'
      ) %>
    </div>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control',
      placeholder: 'Search'
    ) %>
  </div>
  <div id="store_selector">
    <%#= f.select(
    :with_lifestyle_id,
    @filterrific.select_options[:with_lifestyle_id],
    {include_blank: 'All Lifestyles'}
    ) %>
    <label>Sort By </label>
    <%= f.select(
      :sorted_by,
      @filterrific.select_options[:sorted_by],
      {},
      class: 'filterrific-periodically-observed btn btn-info btn-sm'
    ) %>
  </div>
  <%= render_filterrific_spinner %>
<% end %>
