<div id="search_bar">
  <h4>Search</h4>
  <%= form_for @filterrific do |f| %>
    <%= f.select(
      :with_category_id,
      @filterrific.select_options[:with_category_id],
      {include_blank: 'All Categories'},
      class: 'filterrific-periodically-observed'
    ) %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
    <div id="store_selector">
      <%= f.select(
      :with_lifestyle_id,
      @filterrific.select_options[:with_lifestyle_id],
      {include_blank: 'All Lifestyles'}
      ) %>
      <h4>View: </h4>
      <%= f.select(
      :sorted_by,
      @filterrific.select_options[:sorted_by],
      class: 'filterrific-periodically-observed'
        ) %>
      </div>
  <% end %>
</div>
