<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sale.name %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @sale.percentage %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sale.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @sale.finish_date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
