
<% #render "shared/features_bar" %>
<%= render "shared/search_bar" %>
<%#= render "shared/store_selector" %>
<div id="store_product_display">
  <aside id="filters">
    <section id="filter_by_categories">
      <h5>Categories: </h5>
      <ul>
        <% all_categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
    </section>
    <section id="filter_by_filters">
      <h5>Brands: </h5>
      <ul>
        <% all_brands.each do |brand| %>
          <li><%= brand.name %></li>
        <% end %>
      </ul>
    </section>
  </aside>
  <div id="products_to_display">
    <% if @products.where(sale: true).count > 0 %>
      <section id="sale_products">
        <h3>Sale Products</h3>
        <%= render partial: 'shared/sale_products',
                   collection: @products.where(sale: true),
                   as: 'product' %>
      </section>
    <% end %>
    <section id="all_products">
      <h3>Products</h3>

      <%= render partial: 'shared/product',
                 collection: @products,
                 as: 'product' %>

    </section>
    <%= paginate @products %>
  </div>
  <div id="bottom-holder">
    <p> </p>
  </div>
</div>
