
<% #render "shared/features_bar" %>
<%= render "shared/search_bar" %>
<%#= render "shared/store_selector" %>
Cart Items: <%= @cart %>
<%= render  'shared/cart' unless @cart.nil? %>
<div id="store_product_display">
  <aside id="filters">
    <section id="filter_by_categories">
      <h5>Categories: </h5>
      <ul>
        <% all_categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
    </section>
    <section id="filter_by_filters">
      <h5>Brands: </h5>
      <ul>
        <% all_brands.each do |brand| %>
          <li><%= brand.name %></li>
        <% end %>
      </ul>
    </section>
  </aside>
  <div id="products_to_display">
    <% if @sale_products.count > 0 %>
      <section id="sale_products">
        <h3>Sale Products</h3>
        <%= render partial: 'shared/sale_products',
                   collection: @sale_products,
                   as: 'product' %>
      </section>
    <% end %>
    <% if @products.count > 0 %>
      <section id="all_products">
        <h3>Products</h3>
        <div id="filterrific_results">
          <%= render partial: 'shared/product',
                     collection: @products,
                     as: 'product' %>
        </div>
      </section>
      <%= paginate @products %>
    <% else %>
      <section id="no_products_found">
        <div class="alert alert-danger" role="alert">Unfortunately, no products were found matching those parameters, check your settings and try again!</div>
      </section>
    <% end %>
  </div>
  <div id="bottom-holder">
    <p> </p>
  </div>
</div>
