<%= render  'shared/mini_cart' unless @cart.nil? %>
<p id="notice"><%= notice %></p>
<div id="product_page">
  <div class="product_image">
    <%= image_tag(@product.image) unless !@product %>
  </div>
  <div id="product_info">
    <h1><%= @product.name unless !@product%></h1>
    <h3><%= @product.title unless !@product%></h3>
    <h2><%= number_to_currency(@product.price) unless !@product%></h2>
    <%= link_to 'Add to Cart', add_to_cart_path(@product.id), method: 'post', class: 'btn btn-danger add_to_cart_btn' %>
    <div id="product_features">
      <h3>Key Features:</h3>
      <ul>
        <li><%= @product.sell_point_1 unless !@product%></li>
        <li><%= @product.sell_point_2 unless !@product%></li>
        <li><%= @product.sell_point_3 unless !@product%></li>
      </ul>
    </div>
  </div>
  <br />
  <div id="product_description">
    <h3>Description:</h3>
    <%= @product.description.html_safe unless !@product%>
  </div>
</div>
