<!DOCTYPE html>
<html>
<head>
  <title>The Urban Sloth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render "shared/header" %>
    <%= render "shared/navigation" %>
    <div id="content">
      <!-- define flash messages : at the request of activeAdmin -->
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
      <% if @show_progress %>
        <div class="progress">
          <div class="progress-bar progress-bar-primary progress-bar-striped active" style="width: <%= @show_progress_percent %>%">
            <span class="sr-only"><%= @show_progress_percent %>% Complete</span>
            <%= @show_progress_amt %> points out of <%= @show_progress_max %> possible
          </div>
          <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: <%= @show_progress_left_for_possible %>%">
            <span class="sr-only"><%= @show_progress_max - @show_progress_percent %>% Complete</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @show_progress_amt %>" aria-valuemin="0" aria-valuemax="<%= @show_progress_goal %>" style="width: <%= @show_progress_amt %>%">
            <span class="sr-only"><%= @show_progress_amt %>% Complete</span>
            Acheived: <%= @show_progress_amt %>, Goal: <%= @show_progress_goal %>
          </div>
          <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: <%= @show_progress_left_for_goal %>%">
            <span class="sr-only"><%= @show_progress_left_points %></span>
          </div>
        </div>
      <% end %>

      <%= yield %>

    </div>
    <%= render "shared/footer" %>
  </div>
</body>
</html>
